.main{
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
}
.header{
    text-align: center;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.thumbs{
    width: 2rem;
    height: 2rem;
}